:root {
  --ifm-color-primary: #7371fc;
  --ifm-color-primary-dark: #5f5cfb;
  --ifm-color-primary-darker: #5653fb;
  --ifm-color-primary-darkest: #3b37fa;
  --ifm-color-primary-light: #8786fd;
  --ifm-color-primary-lighter: #9190fd;
  --ifm-color-primary-lightest: #afaffa;
  --ifm-font-family-base: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

[data-theme='dark'] {
  --ifm-background-color: #212529;
  --ifm-background-surface-color: #1b1f23;
}

.heroBanner {
  padding: 4rem 0;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}
