:root{
  --md-primary-fg-color: #7371fc;
  --md-accent-fg-color: #7371fc;
}
[data-md-color-scheme="slate"]{
  --md-default-bg-color: #212529;
  --md-default-fg-color: #e9ecef;
  --md-default-fg-color--light: #ced4da;
}
